{% set selectedSubnavItem = 'setup' %}
{% extends "_layouts/cp" %}





{% block content %}



<h2>Please set up</h2>

<p>
This plugin needs to be setup with an API key from alttext.ai before it can be used. <br />
</p>



{% endblock %}